

/* Чилл зона */
.in_developing {
    width: 90vw;
    border: 2px solid rgb(29, 29, 29);
    background-color: rgb(230, 230, 230);
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100%;
    padding-bottom: 100px;
}

.in_developing h1 {
    background-color: rgb(29, 29, 29);
    color: white;
    text-align: center;
    font-size: 5vw;
    margin-top: 0;
    margin-bottom: 10px;
}   

.text_dev {
    font-size: 2vw;
    display: flex;
    text-align: center;
}